
<div class="dropdown is-hoverable" style="width: 210px">
    <div class="dropdown-trigger">
        <button class="button is-outlined is-warning is-small" aria-haspopup="true" aria-controls="dropdown-menu" style="background: transparent">
            <span style="font-size: 1rem">Choose a login provider</span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a href="/.auth/login/aad" class="dropdown-item">
                Microsoft Account
            </a>
            <a href="/.auth/login/facebook" class="dropdown-item">
                Facebook Account
            </a>
            <a href="/.auth/login/github" class="dropdown-item">
                GitHub Account
            </a>
            <a href="/.auth/login/google" class="dropdown-item">
                Google Account
            </a>
            <a href="/.auth/login/twitter" class="dropdown-item">
                Twitter Account
            </a>
        </div>
    </div>
</div>